<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" src="../../public/assets/css/burger_style.css">
	<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Alfa+Slab+One' rel='stylesheet' type='text/css'>
	<meta charset="UTF-8">
		<title>Burger</title>
	</head>
	<body>
		<style>
			/*There was an issue uploading Google Fonts from the Chrome browser, and this was the recommended work-around.*/
			body {
				font-family: 'Luckiest Guy', cursive;
			}
			button {
				font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
			}
		</style>
		{{{ body }}}
	</body>
</html>