<h1>Good Burger</h1>

<ul>
  {{#each burgers}}
    <li>
      <p>
        {{this.id}}. {{this.burger}}

        <form action="/{{this.id}}" method="POST">
          <input type="hidden" name="id" value="{{this.id}}">
          <button type="submit">Devour!</button>
        </form>
      </p>
    </li>
  {{/each}}
</ul>

<h2>Cook a burger</h2>
<form method="GET" action="/" class="button-size">
	<textarea type="text" name="plan"></textarea>
	<button type="submit">Save Plan!</button>
</form>

<h2>Update a Plan</h2>
<form action="/?_method=PUT" method="POST" class="button-size">
  <input type="text" name="id" placeholder="id">
	<textarea type="text" name="plan" placeholder="plan"></textarea>
	<button type="submit">Devour!</button>
</form>
